#sideMenuDiv {
  display: flex;
  flex-direction: column;
  z-index: 100;
}

#smSpace {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
  width: 30vw;
  height: 100vh;
}

#menuTop {
  display: flex;
  justify-content: space-around;
}

#myProfile {
  background-color: yellowgreen;
  color: white;
  margin-top: 1vh;
  padding: 1vw;
  font-size: 4vw;
  width: 30vw;
  text-align: center;
}

#logOutBtn {
  background-color: yellowgreen;
  color: white;
  margin-top: 1vh;
  padding: 1vw;
  font-size: 4vw;
  width: 30vw;
  border: none;
  text-align: center;
}

#sideMenu {
  position: fixed;
  top: 0;
  right: 0;
  background-color: lightblue;
  width: 70vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#sideMenu > form {
  text-align: center;
  margin-top: 10px;
}

.inputAcc {
  text-align: center;
  font-size: 5vw;
}

#accSubmit {
  background-color: yellowgreen;
  color: white;
  margin-top: 1vh;
  padding: 2vw;
  font-size: 4vw;
  width: 34vw;
  border: none;
}

#linkSignUp {
  background-color: yellowgreen;
  color: white;
  font-size: 4vw;
  padding: 2vw;
  text-align: center;
  width: 30vw;
  align-self: center;
  margin-top: 1vw;

}

#sideMenuBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5vw;
  flex: 1;
}

.sideMenuBtn {
  background-color: lightskyblue;
  padding: 4vw;
  text-align: center;
  font-size: 5vw;
  color: black;
  width: 70%;
  border-radius: 25px 25px;
  margin-bottom: 1vw;
}
